*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Merriweather', serif;
  background-color: #DDF7E3;
}

.navbar{
  background-color:#FFF4E0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.navbar__brand{
  width: 100px;
}

.navbar__logo{
  width: 100%;
}

.button__primary{
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;

}

  .button__primary:hover{
    border: 5px solid #FFDEB9;
    cursor: pointer;
  }


.container{
  padding: 20px;
  margin: 0 auto;
}


.hero__image__container{

  width: 100%

}

.hero__image__shape{
  width: 100%
}

.hero__image__pattren{
  width: 100%
}

.hero__image{
border-radius: 6px;
box-shadow: 0px 25px 50px -20px #000;
  width: 100%;
}

.hero__text{
  font-size: 32px;
  font-weight: 800;
  margin: 20px 0px;
  color: #1d3557;
}


.food__card{
  margin: 10px;
  border-radius: 10px;
  background-color:#f9f9f9;
}


.card__image__container{
  width: 100%;
}


.card__image{
  border-radius: 10px 10px 0 0;
width:  100%;
}


.food__card__description{
  padding: 20px;
}

.explore__menu__text{
 text-align: center;
  padding-top:  30px;
  padding-bottom: 15px;
  font-size: 32px;
  font-weight: 800;

  color: #1d3557;

}
.Restaurant__text{
  margin-top:  40px;
  text-align: center;
   font-size: 28px;
   font-weight: 800;
   color: #1d3557;
}

.Restaurant__image__container{
  width: 100%;
}

.restaurant1{
  width: 100%;
}

.stay__updated__text__container {
  display:flex;
  justify-content: center;



}
.stay__updated__text{
  margin-top: 30px;
  text-align: center;
   font-size: 28px;
   font-weight: 800;
   color: #1d3557;

}
.stay__updated__email__container{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px;

}

.quate{

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   width: 100% ;

}
.quate__bg__image__container{
z-index: -3;
  position: absolute;
  width: 100%;

}

.quate__bg__image {

  width: 100%;

}
.quate__text__container{

  text-align: center;
  margin-top: 20%;
  padding: 20% 5% ;
  width: 100%;
}
.quate__text{
  color: #FCFFE7;
  font-weight: 500;

}
.footer__container{
border-radius: 10px;



  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );

}

ul{
  margin-left: 40px;
  color:#f9f9f9;
  list-style-type: none;
}
.footer__logo__container{
  padding: 20px 0 ;
  width: 100%;

}
.footer__logo{
  width: 100%;
}


            @media (min-width :768px) {

.explore__menu__list{
  margin-top: 40px;
  display:flex;
}

.explore__menu__text{
  font-size: 42px;
}

  .navbar{
    justify-content: space-between;
    padding: 0 30px;

  }
.hero__container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#pizza__card{
  margin-top: -20px;
  margin-bottom: 30px;
}


.explore__menu__container{
  position: relative;
}


.explore__menu__gradient__bg{
  padding-bottom: 40px;
  margin-top: 20px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
    z-index: -3;
    transform:skewY(-5deg);

}

}
          @media (min-width :1024px) {


   .navbar{
     align-items: center;
     justify-content: space-between;
     padding: 0 10px;
     height: 60px;
   }
   .container{
     max-width: 70%;
   }
  .navbar__brand{
    width: 200px;

  }
  .button__primary{
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 9px;
  }
  .hero__description{
    width: 100%;

  }
  .hero__text{
    font-size: 30px;
  }
  .explore__menu__list{
    display: flex;
    gap : 20px ;
  }

}
